@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'Vazir';
    src: url('../font/Vazir.ttf');
  }
}
@layer utilities {
  .main-container {
    @apply bg-white w-full h-screen font-['Vazir'];
  }
  .heder {
    background: linear-gradient(
      180deg,
      #e7d0ff -20.81%,
      rgba(231, 208, 255, 0) 79.23%
    );
  }

  .navbar {
    @apply flex w-full justify-between p-10;
  }
  .li-navbar {
    @apply mr-8 text-sm	 font-normal	 text-[#515D6B]	hover:text-[#A145FF] hover:font-semibold relative 	;
  }
  .atflylady {
    @apply text-center text-[#7D8590];
  }
  .li-input {
    @apply flex justify-around items-center relative;
  }
  .signup {
    @apply w-32	h-14 border-2	border-2	border-[#a145ff] rounded-[2rem] px-8 py-4 text-[#A145FF] hover:bg-[#A145FF] hover:text-white;		
  }
  .searchfly::after {
    position: absolute;
    bottom: -10px;
    right: 0px;
    left: 0px;
    content: '';
    width: 131px;
    height: 47px;
    background: #a145ff;
    opacity: 0.7;
    filter: blur(32px);
    border-radius: 23.5px;
  }
  .btn-pearsion{
    padding: 16px, 32px, 16px, 32px;
    background: #a145ff;
    border-radius: 45px;
    @apply w-36	h-16 text-white;
  }
  .searchfly {
    position: relative;
    padding: 16px, 32px, 16px, 32px;
    background: #a145ff;
    border-radius: 45px;
    @apply w-36	h-16 text-white;
  }
  .li-input::before {
    color: #515d6b;
    position: absolute;
    top: -2.5rem;
    left: 0px;
    content: 'origin';
    font-weight: 400;
    font-size: 14px;
  }
  .li-input2::before{
    content: 'Destination';
  }
  .li-input3::before{
    content: 'Departure';
  }
  .li-input4::before{
    content: 'Return';
  }
  .li-input5::before{
    content: 'Passengers';
  }
  .input-li {
    @apply w-full h-[24px]  text-[15px] font-normal w-3/5;
  }
  .li-price {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(70px);
    @apply w-72	h-auto  m-3 rounded-[20px] p-2;
  }
  .div-shomre {
    background: linear-gradient(
      92.26deg,
      rgba(255, 255, 255, 0.72) 5.34%,
      rgba(255, 255, 255, 0.8) 99.22%
    );
    backdrop-filter: blur(80px);
  }
  .div-whatmake {
    background: linear-gradient(114.53deg, #a145ff 10.24%, #da45ff 126.02%);
  }
  .div-username {
    background: #ffffff;
    backdrop-filter: blur(70px);
  }
}
